<html>
    <head>
        <title>Sara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sara's blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>published: 18.03.2017</p>
            <p>This is my first post. But don't worry, there will be more. This blog will be about philosophy in daily life.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>published: 18.03.2017</p>
            <p>It will start soon.</p>
        </div>
    </body>
</html>